<h1>All Songs</h1>
<div id="songs">
  <% @songs.each do |song| %>
     <h3><%= song.title %></h3>
     <p>Song length: <%= song.length %></p>
     <p>Playlist: <%= song.playlist.name %></p>
     <p>Play Count: <%= song.play_count %></p>
  <% end %>
</div>
