<form class="new-song" action="/songs" method="post">
  <input type="text" name="song[title]" placeholder="Title">
  <input type="text" name="song[length]" placeholder="Length">
  <input type="text" name="song[play_count]" placeholder="Play Count">
  <input type="submit" value="Submit">
</form>
